.list-item-container {
  padding-top: var(--padding-m);
  padding-bottom: var(--padding-m);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--gap-list-item-m);
}

.item {
  background: #fff;
  transition: box-shadow 0.3s ease-in;
  border-radius: var(--border-radius-s);
  overflow: hidden;
  box-shadow: 4px 4px 12px #d1d1d1, -4px -4px 12px #ffffff;
  height: 100%;
}

.item:hover {
  cursor: pointer;
  box-shadow: 6px 6px 24px #d1d1d1, -6px -6px 24px #ffffff;
}

.item-info {
  padding: calc(var(--padding-s) / 2);
}

.item-button {
  background-color: #0002;
  border-radius: 100%;
  font-size: 20px;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover .item-image {
  transform: scale(1.05);
}

.item .item-image-container {
  overflow: hidden;
  height: 400px;
  width: 100%;
}

.item .item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  transition: transform 0.225s ease-in;
}

.item .item-title {
  font-size: var(--font-size-title);
  font-weight: 400;
  margin: 0;
}

.item .item-price {
  font-size: var(--font-size-price);
  font-weight: 400;
  margin: 0;
}

.button-controller-container {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--padding-s) / 2);
}

.button-controller {
  border: none;
  background: #fff;
  cursor: pointer;
  height: 44px;
  width: 44px;
  border-radius: var(--border-radius-s);
  /* box-shadow: 1px 0px 6px #0001, 0px 2px 6px #0002; */
  border: 1px solid #0002;
}

@media (max-width: 1600px) {
  .list-item-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .list-item-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .list-item-container {
    grid-gap: var(--gap-list-item-s);
    padding-top: var(--padding-s);
    padding-bottom: var(--padding-s);
  }
}

@media (max-width: 992px) {
  .list-item-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .list-item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .list-item-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
