.Navbar-item-detail nav {
  max-width: 1400px;
  margin: 0 auto;
}

.app-container.item-detail {
  max-width: 1400px;
  margin: 0 auto;
}

.item-detail-container {
  display: flex;
  margin: var(--margin-s) 0;
  gap: var(--margin-s);
  flex-wrap: wrap;
}

.item-detail-image-container {
  flex: 1 1 calc(60% - var(--gap-general-s) / 2);
  height: 600px;
}

.item-detail-image-container .item-detail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 4px 4px 12px #d1d1d1, -4px -4px 12px #ffffff;
  border-radius: var(--border-radius-s);
}

.item-detail-details-container {
  flex: 1 1 calc(40% - var(--gap-general-s) / 2);
}

.item-detail-details {
  border-radius: var(--border-radius-s);
  border: 1px solid #0003;
  padding: var(--padding-s);
}

.item-detail-details .item-detail-title {
  font-size: calc(var(--font-size-title) * 1.4);
  margin-top: 0;
  margin-bottom: var(--margin-s);
  font-weight: 400;
}

.item-detail-details .item-detail-price {
  font-size: calc(var(--font-size-price) * 1.4);
  margin-top: 0;
  margin-bottom: var(--margin-s);
  font-weight: 400;
}

.item-detail-details .item-detail-description {
  font-size: var(--font-size-description);
  margin-bottom: 0;
  margin-top: var(--margin-s);
  font-weight: 400;
}

.btn {
  font-size: var(--font-size-title);
  border: none;
  border-radius: var(--border-radius-s);
  padding: calc(var(--padding-s) / 2) var(--padding-s);
  transition: all 0.225s ease-in;
  cursor: pointer;
  font-weight: 400;
  height: 44px;
  width: 100%;
}

.swiper-similar-products {
  padding: 0 var(--padding-s) var(--padding-m) var(--padding-s);
  user-select: none;
}

.similar-products-container {
  margin: var(--margin-m) 0;
}

.similar-products-title {
  font-size: calc(var(--font-size-title) * 1.2);
  margin-top: 0;
  margin-bottom: var(--margin-s);
}

@media (max-width: 768px) {
  .item-detail-container {
    flex-direction: column;
  }

  .item-detail-image-container {
    flex: 1 1 400px;
  }

  .item-detail-details-container {
    flex: 1 1 100%;
  }
}