.Navbar-item-detail nav {
  max-width: 1400px;
  margin: 0 auto;
}

.app-container.item-detail {
  max-width: 1400px;
  margin: 0 auto;
}

.item-detail-container {
  display: flex;
  margin: var(--margin-s) 0;
  gap: var(--margin-s);
  flex-wrap: wrap;
}

.item-detail-image-container {
  flex: 1 1 calc(60% - var(--gap-general-s) / 2);
  height: 600px;
}

.item-detail-image-container .item-detail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 4px 4px 12px #d1d1d1, -4px -4px 12px #ffffff;
  border-radius: var(--border-radius-s);
}

.item-detail-details-container {
  flex: 1 1 calc(40% - var(--gap-general-s) / 2);
}

.item-detail-details {
  border-radius: var(--border-radius-s);
  border: 1px solid #0003;
  padding: var(--padding-s);
}

.item-detail-details .item-detail-title {
  font-size: calc(var(--font-size-title) * 1.4);
  margin-top: 0;
  margin-bottom: var(--margin-s);
  font-weight: 400;
}

.item-detail-details .item-detail-price {
  font-size: calc(var(--font-size-price) * 1.4);
  margin-top: 0;
  margin-bottom: var(--margin-s);
  font-weight: 400;
}

.item-detail-details .item-detail-description {
  font-size: var(--font-size-description);
  margin-bottom: 0;
  margin-top: var(--margin-s);
  font-weight: 400;
}

.product-controller-container {
  display: flex;
  align-items: center;
  margin-top: var(--margin-s);
  gap: var(--gap-general-s);
}

.button-controller-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.button-controller {
  background: #fff;
  cursor: pointer;
  height: 44px;
  width: 44px;
  border-radius: var(--border-radius-s);
  border: 1px solid #0002;
  padding: 0;
}

.btn {
  font-size: var(--font-size-title);
  border: none;
  border-radius: var(--border-radius-s);
  padding: calc(var(--padding-s) / 2) var(--padding-s);
  transition: all 0.125s ease-in;
  cursor: pointer;
  font-weight: 400;
  height: 44px;
  width: 100%;
}

.btn.btn-primary {
  color: #fff;
  background: #3f88c5;
}

.btn.btn-delete {
  color: #FFF;
  background: #C63333;
}

.btn.btn-delete:hover {
  background: #ac2929;
}

.btn.btn-primary:hover {
  background: #276aa0;
}

.btn-add-to-cart {
  width: 70%;
}

.swiper-similar-products {
  padding: var(--margin-s);
}

.similar-products-title {
  font-size: calc(var(--font-size-title) * 1.2);
}

@media (max-width: 1600px) {
  .product-controller-container {
    gap: calc(var(--gap-general-s) / 2);
  }

  .button-controller-container {
    width: 50%;
  }

  .btn-add-to-cart {
    width: 50%;
  }
}

@media (max-width: 1400px) {
  .product-controller-container {
    gap: calc(var(--gap-general-s) / 2);
  }

  .product-controller-container {
    flex-direction: column;
  }

  .button-controller-container {
    width: 100%;
  }
  .btn-add-to-cart {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .item-detail-container {
    flex-direction: column;
  }

  .item-detail-image-container {
    flex: 1 1 400px;
  }

  .item-detail-details-container {
    flex: 1 1 100%;
  }
}