.Navbar {
  background-color: var(--primary-color);
  padding-left: var(--padding-sides-home);
  padding-right: var(--padding-sides-home);
  height: var(--nav-bar-height);
  position: sticky;
  top: 0;
  z-index: 100;
}

.Navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 100%;
}

.Navbar .brand {
  font-size: 22px;
  font-weight: bold;
}

.Navbar .nav-links-container {
  display: flex;
}

.Navbar .nav-links-container .nav-link,
.Navbar .nav-links-container-menu .nav-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: var(--padding-s);
}

.Navbar .nav-links-container .nav-link::after,
.Navbar .nav-links-container-menu .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: #fff;
  opacity: 0;
  width: 100%;
  transition: all 0.3s;
}

.Navbar .nav-links-container .nav-link:hover::after,
.Navbar .nav-links-container .nav-link.active::after {
  opacity: 1;
}

.Navbar .nav-logo {
  height: 50px;
}

.Navbar .hamburguer {
  height: 24px;
  width: 24px;
  display: none;
  transition: all .225s ease-in;
}

.Navbar .hamburguer.active {
  transform: rotate(270deg);
}

.Navbar .nav-links-container-menu {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: var(--nav-bar-height);
  left: 0;
  background-color: var(--primary-color);
  height: 0px;
  width: 100%;
  transition: all .225s ease-in;
  overflow: hidden;
}

@media (max-width: 992px) {
  .Navbar {
    padding-left: var(--padding-sides-home-m);
    padding-right: var(--padding-sides-home-m);
  }
}

@media (max-width: 768px) {
  .Navbar {
    padding-left: var(--padding-sides-home-m);
    padding-right: var(--padding-sides-home-m);
  }

  .Navbar.active .nav-links-container-menu {
    height: calc(100vh - var(--nav-bar-height));
  }

  .Navbar .nav-links-container {
    display: none;
  }

  .Navbar .hamburguer {
    display: block;
  }

  .Navbar .brand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .Navbar {
    padding-left: var(--padding-sides-home-s);
    padding-right: var(--padding-sides-home-s);
  }
}
